<header class="header">
  <a href="/" class="header__logo">Әкімші тақтасы</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Басты-бет</a>
      </li>
      <li>
        <a href="/about" class="">Блог</a>
      </li>
      <li>
        <a href="https://www.instagram.com/reel/CuALw1SsD94/?igshid=MTc4MmM1YmI2Ng%3D%3D" class="">Байланыс</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <a href="/logout">
      Жүйеден шығу
    </a>
  </div>

</header>