<img src="/img/photo_57_2023-11-22_12-35-44.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">


<div class="author">
  <h1 class="author__heading">Мен Муниса MH BRAND негізін қалаушысы боламын .</h1>
  <p class="author__body">8 жылға таяу тоқымамен айналысып , қаншама жандарды жылы киіммен қамтамасыз етіп , қаншама шәкірттер шығардым !  Біздің тоқыма оқуымызда сіз профессионалдық тұрғыда тоқыма машинкасында тоқуды үйреніп шығатын боласыз . Және жеке бұйымдардың мастер кластарын алып бір заттың тоқуды сабақтан үйренуіңізге болады . Курстарымызды бітірген ханымдар сертификатпен марапатталады . 
Бізде тек қана тоқуды емес әрі сатуды да үйренуіңізге болады . Абай атам айтпақшы оқысаңыз жаман болмайсыз . Келіңіз бізбен бірге тоқыманы үйреніңіз !</p>
</div>

<section class = "blog" id = "blog">
  <div class = "container">
    <div class = "title">
      <h2>Кейбір өнімдер</h2>
      <p>Кейбір өнімдер туралы оқыңыз егер сізге ұнаса хабарласыңыз</p>
    </div>
    <div class = "blog-content">
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "img/IMG_1318.JPG" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>14 Желтоқсан, 2023</span>
          <h2>Кардиган оверсейз</h2>
          <p>Ең алғашқы ескеретініміз ол кардиганға таңдайтын жібіміз . Одан кейін керекті размерге есебін шығару . Сосын барып кардигандағы ою өрнектерді бір біріне келтіріп оның тігістерін ұқыпты тігуіміз керек . Сол кезде біз тоқыған затымыз әрі кийгенде жұмсақ , дене бішіміне сай , және ұқыпты тігілгенінен өте әдемі көрінетін болады  .  Кардиган сабағымызда кез келген өлшеммен кез келген машинкамен тоқуды үйренетін боласыз .</p>
          
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "img/IMG_1318.JPG" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>14 Желтоқсан, 2023</span>
          <h2>Кардиган оверсейз</h2>
          <p>Ең алғашқы ескеретініміз ол кардиганға таңдайтын жібіміз . Одан кейін керекті размерге есебін шығару . Сосын барып кардигандағы ою өрнектерді бір біріне келтіріп оның тігістерін ұқыпты тігуіміз керек . Сол кезде біз тоқыған затымыз әрі кийгенде жұмсақ , дене бішіміне сай , және ұқыпты тігілгенінен өте әдемі көрінетін болады  .  Кардиган сабағымызда кез келген өлшеммен кез келген машинкамен тоқуды үйренетін боласыз .</p>
          
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "img/IMG_1506.JPG" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>14 Желтоқсан, 2023</span>
          <h2>Шапка . Орамал .</h2>
          <p>Бас киімдердің хит түрлері ол қыз, күз,көктем демей барлық жастағы адамдар кең қолданатын аксесуар түрі.  Әр түрлі мезгілде киіп жүруге әртүрлі құрамдағы жіптерден тоқымыз . Қалпақтың құрамы және өлшемі дұрыс таңдалса, тапсырыс беруші де риза болып, рахметін айтып киетін болады . 
            Ал сол хит аксесуарларды біз сізге курс бағдарламасында дұрыс тоқуды , әрі сатуды үйретеміз .</p>
        
        </div>
      </div>
    
    </div>
  </div>
</section>
<!-- end of blog -->

<!-- about -->



<section class="articles">
  <h2 class="articles__heading">Соңғы хабарламалар</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>


  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; Ескі хабарламаларды қарау</a>
  <% } %>
 

  



</section>